body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

img {
  border-radius: 30px;

}

.container {
  margin-top: 10%;
  align-items: center;
  margin-left: 10%;
}

.image-container {
  position: relative;
  display: inline-block;
  margin: 15px;
}

.col-md-3 {
  padding: 0; 
}

.image-container img {
  width: 300px;
  height: 300px;
}

.image-container .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 0.3s;
  border-radius: 30px;

}

.image-container:hover .overlay {
  opacity: 1;
  border-radius: 30px;

}

.image-container .overlay-text {
  text-align: center;
  font-size: 18px;
}

.buttons {
  position: fixed;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  background-color: #7C3626;
  padding: 20px; 
  margin-left: 120px;
  margin-right: 120px;
  border-radius: 30px;
  max-width: calc(100% - 240px);
}

.buttons button {
  display: block;
  margin-bottom: 10px;
  background-color: #7C3626;
  color: white;
  border-color: white;
  border-radius: 30px;
}


.allBoxes {
    background-color: #7C3626;
    padding: 20px; 
    margin-left: 120px;
    margin-right: 120px;
    border-radius: 30px;
}

.caja {
    border: 1px;
    padding: 10px;
    cursor: pointer;
    font-size: 120%;
    color: white;
    margin: 10px; 
    border-radius: 10px; 
    box-sizing: border-box; 
}
.titulo {
    font-style: inherit;
    color: black;
}

.dropdown {
    display: none;
    width: 100%;
    margin-top: 10px;
    padding: 10px;
    animation: fade-in 1.5s ease forwards;
}

.caja.clicked .dropdown {
    display: block;
}

.caja:not(.clicked) .dropdown {
    animation-name: fade-out 1.5s ease forwards;
}

.adopta-link {
  color: white;
}

.adopta-link:hover{
  color: black;
}

@keyframes fade-in {
  0% {
      opacity: 0;
      transform: translateY(-10px);
  }

  100% {
      opacity: 1;
      transform: translateY(0);
  }
}

@keyframes fade-out {
  from {
      opacity: 1;
      transform: translateY(0);
  }

  to {
      opacity: 0;
      transform: translateY(-10px);
  }
}
