.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #ac0790;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
}

.nav-list {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-item {
    margin-right: 10px;
}

.nav-item:last-child {
    margin-right: 0;
}

a.nav-button {
    color: white;
    font-size: 18px;
    text-transform: uppercase;
    text-decoration: none;
}

.centered-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#title {
    color: white;
    font-size: 18px;
    text-transform: uppercase;
    text-decoration: none;
}

a.mat-button:hover {
    color: #007bff;
}

.register-link {
    color: black;
    background-color: black;
}