body, html {
  height: 100%;
}

.carousel-full-height {
  height: 100%;
  width: 50%;
  position: fixed;
  left: 0;
}

.carousel-1-item {
  height: 100vh;
}

.carousel-item img {
  object-fit: cover;
  height: 100%;
}


.carousel-half-height {
  height: 50vh; 
  width: 50%; 
  position: fixed;
  right: 0; 
  top: 0; 
}

.divs-half-height {
  height: 50vh; 
  width: 50%; 
  position: fixed;
  right: 0; 
  bottom: 0; 
}

.carousel-2-item {
  height: 50vh; 
}

.carousel-item img {
  object-fit: cover;
  height: 100%;
}

.carousel-caption {
  background: rgba(0, 0, 0, 0.5); 
  padding: 10px; 
}

.storeDiv {
  position: relative;
}

@media only screen and (max-width: 992px) {
  .storeDiv {
    width: 100%;
  }
}
